--extra-index-url https://download.pytorch.org/whl/cu121
fastapi
uvicorn
discord.py
weaviate-client
chromadb
ollama
dspy-ai==2.6.27
pydantic>=2.11
pydantic-settings==2.0.3
langgraph
requests
sqlite-web
sqlalchemy
asyncpg
prometheus-client
confluent-kafka==2.10.1
psycopg2-binary
pyyaml
redis
