# This file contains the development-specific dependencies.
# It should be compiled against the base requirements.in.
# Command: pip-compile requirements-dev.in --output-file requirements-dev.txt
-c requirements.txt

# Core testing framework
pytest
pytest-asyncio
pytest-cov
pytest-mock
pytest-xdist
# For nicer diffs
pytest-clarity
# For running tests against a real LLM
pytest-depends
pytest-skip-slow
# For snapshot testing
syrupy
# For testing notebook examples
nbmake
# For mocking
freezegun

# For linting
ruff>=0.3
pre-commit
black==23.7.0

# For static analysis
mypy==1.10.0
types-requests==2.31.0
types-pyyaml
types-redis

# For dependency management and other tools
pip-tools
GitPython
zstandard==0.23.0
neo4j
testing.postgresql
respx
