fastapi==0.105.0
uvicorn==0.25.0
discord.py==2.3.0
weaviate-client==3.25.0
chromadb==0.4.24
dspy==0.1.4
pydantic==2.3.0
pydantic-settings==2.0.3
langgraph==0.2.0
requests==2.32.3
sqlite-web

prometheus-client==0.20.0
